.bonus {

}

.bonus__title {

}

.bonus__points {
  color: #e75e2a;
  white-space: nowrap;
}


.bonus--theme-frame {
  border: 1px solid #e75e2a;
  border-radius: 2px;
}

.bonus--theme-frame .bonus__title,
.bonus--theme-frame .bonus__points{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 10px;
}

.bonus--theme-frame .bonus__title{
  background: #e75e2a;
  color: #fff;
}